.card {
  width: 20%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.name {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.price {
  float: right;
  font-size: 14px;
  color: #888;
}

.price::after {
  content: " у.е.";
  font-size: 12px;
  color: #888;
}

.card:hover {
  transform: scale(1.05);
}

.drink {
  width: 30%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  color: #333;
}

.payment-options {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #00BFFF;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #32CD32;
}

.btn-cancel {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.msg {
  height: 10vh;
  font-size: 12px;
  position: relative;
}